<!doctype html>
<!--[if lt IE 8]><html class="no-js lt-ie8"> <![endif]-->
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>SABSSM V&#174; | Supervisor</title>
    <!-- Mobile specific metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">
    <!-- Force IE9 to render in normal mode -->
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="application-name" content="" />
    <!-- Import google fonts - Heading first/ text second -->
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>
    <!-- Css files -->
    <!-- Icons -->
    <link href="@Url.Content("~/Content/themes/admin/css/icons.css")" rel="stylesheet" />
    <!-- Bootstrap stylesheets (included template modifications) -->
    <link href="@Url.Content("~/Content/themes/admin/css/bootstrap.css")" rel="stylesheet" />
    <!-- Plugins stylesheets (all plugin custom css) -->
    <link href="@Url.Content("~/Content/themes/admin/css/plugins.css")" rel="stylesheet" />
    <!-- Main stylesheets (template main css file) -->
    <link href="@Url.Content("~/Content/themes/admin/css/main.css")" rel="stylesheet" />
    <!-- Custom stylesheets ( Put your own changes here ) -->
    <link href="@Url.Content("~/Content/themes/admin/css/custom.css")" rel="stylesheet" />
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@Url.Content("~/Content/themes/admin/img/ico/apple-touch-icon-144-precomposed.png")">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@Url.Content("~/Content/themes/admin/img/ico/apple-touch-icon-114-precomposed.png")">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@Url.Content("~/Content/themes/admin/img/ico/apple-touch-icon-72-precomposed.png")">
    <link rel="apple-touch-icon-precomposed" href="@Url.Content("~/Content/themes/admin/img/ico/apple-touch-icon-57-precomposed.png")">
    <link rel="icon" href="@Url.Content("~/Content/themes/admin/img/ico/hsrclogo.ico")" type="image/png">
    <!-- Windows8 touch icon ( http://www.buildmypinnedsite.com/ )-->
    <meta name="msapplication-TileColor" content="#3399cc" />
</head>
<body>
    <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- .page-navbar -->
    <div id="header" class="page-navbar">
        <!-- .navbar-brand -->
        <a href="index.html" class="navbar-brand hidden-xs hidden-sm">
            <img src="@Url.Content("~/Content/themes/admin/img/logo.png")" class="logo hidden-xs" alt="Dynamic logo" height="48" width="191">
            <img src="@Url.Content("~/Content/themes/admin/img/logosm.png")" class="logo-sm hidden-lg hidden-md" alt="Dynamic logo">
        </a>
        <!-- / navbar-brand -->
        <!-- .no-collapse -->
        <div id="navbar-no-collapse" class="navbar-no-collapse">
            <!-- top left nav -->
            <ul class="nav navbar-nav">
                <li class="toggle-sidebar">
                    <a href="#">
                        <i class="fa fa-reorder"></i>
                        <span class="sr-only">Collapse sidebar</span>
                    </a>
                </li>
                <!--<li>
                    <a href="#" class="reset-layout tipB" title="Reset panel position for this page"><i class="fa fa-history"></i></a>
                </li>-->

            </ul>
            <!-- / top left nav -->
            <!-- top right nav -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="sr-only">Notifications</span>
                        <span class="badge badge-danger">6</span>
                    </a>
                    <ul class="dropdown-menu right dropdown-notification" role="menu">
                        <li>
                            <a href="#" class="dropdown-menu-header">Notifications</a>
                        </li>
                        <li>
                            <a href="#"><i class="l-basic-life-buoy"></i> 2 support request</a>
                        </li>
                        <li>
                            <a href="#"><i class="l-basic-gear"></i> Settings is changed</a>
                        </li>
                        <li>
                            <a href="#"><i class="l-weather-lightning"></i> 5 min server downtime</a>
                        </li>
                        <li>
                            <a href="#"><i class="l-basic-server2"></i> Databse backup is complete</a>
                        </li>
                        <li>
                            <a href="#"><i class="l-basic-lightbulb"></i> SuggeElson push 1 commit</a>
                        </li>
                        <li>
                            <a href="#" class="view-all">View all <i class="l-arrows-right"></i> </a>
                        </li>
                    </ul>
                </li>

    

            </ul>
            <!-- / top right nav -->
        </div>
        <!-- / collapse -->
    </div>
    <!-- / page-navbar -->
    <!-- #wrapper -->
    <div id="wrapper">
        <!-- .page-sidebar -->
        <aside id="sidebar" class="page-sidebar hidden-md hidden-sm hidden-xs">
            <!-- Start .sidebar-inner -->
            <div class="sidebar-inner">
                <!-- Start .sidebar-scrollarea -->
                <div class="sidebar-scrollarea">
                    <!--  .sidebar-panel -->
                    <div class="sidebar-panel">
                        <h5 class="sidebar-panel-title">Profile</h5>
                    </div>
                    <!-- / .sidebar-panel -->
                    <div class="user-info clearfix">
                        <img src="@Url.Content("~/Content/themes/admin/img/avatars/boy.png")" alt="avatar">
                        <span class="name">Gideon</span>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs">
                                <i class="l-basic-gear"></i>
                            </button>
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                settings <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu right" role="menu">
                                <li>
                                    <a href="profile.html"><i class="fa fa-edit"></i>Edit profile</a>
                                </li>

                                <li class="divider"></li>
                                <li>
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                    @Html.AntiForgeryToken()
                                    <a href="javascript:document.getElementById('logoutForm').submit()">
                                        <i class="fa fa-power-off"></i>
                                        Logout
                                    </a>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--  .sidebar-panel -->
                    <div class="sidebar-panel">
                        <h5 class="sidebar-panel-title">Navigation</h5>
                    </div>
                    <!-- / .sidebar-panel -->
                    <!-- .side-nav -->
                    <div class="side-nav">
                        <ul class="nav">
                            <li>
                                <a href="index.html"><i class="l-basic-laptop"></i><span class="txt">Dashboard</span></a>
                            </li>

                            <li>
                                <a href="#"><i class="l-basic-webpage-txt"></i><span class="txt">Survey Data</span></a>
                                <ul class="sub">
                                    <li>
                                        <a href="forms-basic.html"><span class="txt">Data File Upload</span></a>
                                    </li>
                                    <li>
                                        <a href="forms-advanced.html"><span class="txt">Submitted Datasets</span></a>
                                    </li>
                                    <li>
                                        <a href="forms-layouts.html"><span class="txt">Validated Datasets</span></a>
                                    </li>

                                </ul>
                                <a href="#"><i class="l-ecommerce-graph1"></i> <span class="txt">Reports &amp; Charts </span></a>
                                <ul class="sub">
                                    <li>
                                        <a href="charts-flot.html"><span class="txt">Periodic Reports</span></a>
                                    </li>
                                    <li>
                                        <a href="charts-morris.html"><span class="txt">Progress</span></a>
                                    </li>

                                </ul>
                            </li>


                        </ul>
                    </div>
                    <!-- / side-nav -->
                    <!--  .sidebar-panel -->

                </div>
                <!-- End .sidebar-scrollarea -->
            </div>
            <!-- End .sidebar-inner -->
        </aside>
        <!-- / page-sidebar -->
        <!-- Start #right-sidebar -->
        <aside id="right-sidebar" class="right-sidebar hidden-md hidden-sm hidden-xs">
            <!-- Start .sidebar-inner -->
            <div class="sidebar-inner">
                <!-- Start .sidebar-scrollarea -->
                <div class="sidebar-scrollarea">
                    <div class="tabs">
                        <!-- Start .rs tabs -->
                        <ul id="rstab" class="nav nav-tabs nav-justified">
                            <li class="active">
                                <a href="#activity" data-toggle="tab"><i class="glyphicon glyphicon-bullhorn"></i> </a>
                            </li>
                            <li>
                                <a href="#users" data-toggle="tab"><i class="fa fa-comments"></i> </a>
                            </li>
                        </ul>
                        <div id="rstab-content" class="tab-content">
                            <div class="tab-pane fade active in" id="activity">
                                <ul class="timeline timeline-icons timeline-sm">
                                    <li>
                                        <p>
                                            <a href="#">Jonh Doe</a> attached new <a href="#">file</a>
                                            <span class="timeline-icon"><i class="fa fa-file-text-o"></i></span>
                                            <span class="timeline-date">Dec 10, 22:00</span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <a href="#">Admin</a> approved <a href="#">3 new comments</a>
                                            <span class="timeline-icon"><i class="fa fa-comment"></i></span>
                                            <span class="timeline-date">Dec 8, 13:35</span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <a href="#">Jonh Smith</a> deposit 300$
                                            <span class="timeline-icon"><i class="fa fa-money color-green"></i></span>
                                            <span class="timeline-date">Dec 6, 10:17</span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <a href="#">Serena Williams</a> purchase <a href="#">3 items</a>
                                            <span class="timeline-icon"><i class="fa fa-shopping-cart color-red"></i></span>
                                            <span class="timeline-date">Dec 5, 04:36</span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <a href="#">1 support </a> request is received from <a href="#">Klaudia Chambers</a>
                                            <span class="timeline-icon"><i class="fa fa-life-ring color-gray-light"></i></span>
                                            <span class="timeline-date">Dec 4, 18:40</span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            You received 136 new likes for <a href="#">your page</a>
                                            <span class="timeline-icon"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                                            <span class="timeline-date">Dec 4, 12:00</span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <a href="#">12 settings </a> are changed from <a href="#">Master Admin</a>
                                            <span class="timeline-icon"><i class="glyphicon glyphicon-cog"></i></span>
                                            <span class="timeline-date">Dec 3, 23:17</span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <a href="#">Klaudia Chambers</a> change your photo
                                            <span class="timeline-icon"><i class="l-basic-photo"></i></span>
                                            <span class="timeline-date">Dec 2, 05:17</span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <a href="#">Master server </a> is down for 10 min.
                                            <span class="timeline-icon"><i class="l-basic-server2"></i></span>
                                            <span class="timeline-date">Dec 2, 04:56</span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <a href="#">12 links </a> are broken
                                            <span class="timeline-icon"><i class="fa fa-unlink"></i></span>
                                            <span class="timeline-date">Dec 1, 22:13</span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <a href="#">Last backup </a> is restored by <a href="#">Master admin</a>
                                            <span class="timeline-icon"><i class="fa fa-undo color-red"></i></span>
                                            <span class="timeline-date">Dec 1, 17:42</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="users">
                                <div class="chat-user-list">
                                    <form class="form-vertical chat-search" role="form">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control input-sm" placeholder="Search ...">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default btn-sm" type="submit"><i class="fa fa-search"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                        <!-- End .form-group  -->
                                    </form>

                                    <div id="chat-write">
                                        <form id="chat-write-form" class="form-vertical" role="form">
                                            <div class="form-group mb5">
                                                <textarea name="writetext" id="chatwritearea" rows="3" class="form-control" placeholder="Type message ..."></textarea>
                                            </div>
                                            <!-- End .form-group  -->
                                            <div class="form-group mb0">
                                                <a href="#" class="btn btn-link btn-sm p0 mr5 color-gray"><i class="fa fa-picture-o"></i> </a>
                                                <a href="#" class="btn btn-link btn-sm p0 color-gray"><i class="fa fa-file"></i> </a>
                                                <a href="#" class="btn btn-default btn-sm pull-right">Send</a>
                                            </div>
                                            <!-- End .form-group  -->
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End .rs tabs -->
                </div>
                <!-- End .sidebar-scrollarea -->
            </div>
            <!-- End .sidebar-inner -->
        </aside>
        <!-- End #right-sidebar -->
        <!-- .page-content -->
        <div class="page-content sidebar-page right-sidebar-page clearfix">
            <!-- .page-content-wrapper -->
            <div class="page-content-wrapper">
                <div class="page-content-inner">
                    <!-- .page-content-inner -->
                    <div id="page-header" class="clearfix">
                        <div class="page-header">
                            <h2>Dashboard</h2>
                            <span class="txt">Welcome to Supervisor Data Platform</span>
                        </div>
                        
                        <!-- Render Here -->
                    </div>
                    @RenderBody()
                </div>
                <!-- / .page-content-inner -->
            </div>
            <!-- / page-content-wrapper -->
        </div>
        <!-- / page-content -->
    </div>
    <!-- / #wrapper -->
    <div id="footer" class="clearfix sidebar-page right-sidebar-page">
        <!-- Start #footer  -->
        <p class="pull-left">
            Copyrights &copy; 2017 <a href="https://www.linkedin.com/in/gideon-nimako-3b4b6a30/" class="color-blue strong" target="_blank">AdaptiveDATA&#174;</a>. All rights reserved.
        </p>
        <p class="pull-right">
            <a href="#" class="mr5">Terms of use</a>
            |
            <a href="#" class="ml5 mr25">Privacy police</a>
        </p>
    </div>
    <!-- End #footer  -->
    <!-- Back to top -->
    <div id="back-to-top">
        <a href="#">Back to Top</a>
    </div>
    <!-- Javascripts -->
    <!-- Load pace first -->
    <script src="@Url.Content("~/Content/themes/admin/plugins/core/pace/pace.min.js")"></script>
    <!-- Important javascript libs(put in all pages) -->
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="@Url.Content("~/Content/themes/admin/js/libs/jquery-2.1.1.min.js")" >\x3C/script>')
    </script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script>
        window.jQuery || document.write('<script src="@Url.Content("~/Content/themes/admin/js/libs/jquery-ui-1.10.4.min.js")" >\x3C/script>')
    </script>
    <!--[if lt IE 9]>
      <script type="text/javascript" src="js/libs/excanvas.min.js"></script>
      <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script type="text/javascript" src="js/libs/respond.min.js"></script>
    <![endif]-->
    <!-- Bootstrap plugins -->
    <script src="@Url.Content("~/Content/themes/admin/js/bootstrap/bootstrap.js")"></script>
    <!-- Core plugins ( not remove ) -->
    <script src="@Url.Content("~/Content/themes/admin/js/libs/modernizr.custom.js")"></script>
    <!-- Handle responsive view functions -->
    <script src="@Url.Content("~/Content/themes/admin/js/jRespond.min.js")"></script>
    <!-- Custom scroll for sidebars,tables and etc. -->
    <script src="@Url.Content("~/Content/themes/admin/plugins/core/slimscroll/jquery.slimscroll.min.js")"></script>
    <script src="@Url.Content("~/Content/themes/admin/plugins/core/slimscroll/jquery.slimscroll.horizontal.min.js")"></script>
    <!-- Remove click delay in touch -->
    <script src="@Url.Content("~/Content/themes/admin/plugins/core/fastclick/fastclick.js")"></script>
    <!-- Increase jquery animation speed -->
    <script src="@Url.Content("~/Content/themes/admin/plugins/core/velocity/jquery.velocity.min.js")"></script>
    <!-- Quick search plugin (fast search for many widgets) -->
    <script src="@Url.Content("~/Content/themes/admin/plugins/core/quicksearch/jquery.quicksearch.js")"></script>
    <!-- Bootbox fast bootstrap modals -->
    <script src="@Url.Content("~/Content/themes/admin/plugins/ui/bootbox/bootbox.js")"></script>
    <!-- Other plugins ( load only nessesary plugins for every page) -->
    <script src="@Url.Content("~/Content/themes/admin/js/libs/date.js")"></script>
    <!-- <script src="plugins/charts/flot/jquery.flot.custom.js"></script>
    <script src="plugins/charts/flot/jquery.flot.pie.js"></script>
    <script src="plugins/charts/flot/jquery.flot.resize.js"></script>
    <script src="plugins/charts/flot/jquery.flot.time.js"></script>
    <script src="plugins/charts/flot/jquery.flot.growraf.js"></script>
    <script src="plugins/charts/flot/jquery.flot.categories.js"></script>
    <script src="plugins/charts/flot/jquery.flot.stack.js"></script>
    <script src="plugins/charts/flot/jquery.flot.orderBars.js"></script>
    <script src="plugins/charts/flot/jquery.flot.tooltip.min.js"></script>
    <script src="plugins/charts/flot/jquery.flot.curvedLines.js"></script>
    <script src="plugins/charts/sparklines/jquery.sparkline.js"></script>
    <script src="plugins/charts/progressbars/progressbar.js"></script>
    <script src="plugins/ui/waypoint/waypoints.js"></script>
    <script src="plugins/ui/weather/skyicons.js"></script>
    <script src="plugins/ui/notify/jquery.gritter.js"></script>
    <script src="plugins/misc/vectormaps/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="plugins/misc/vectormaps/maps/jquery-jvectormap-world-mill-en.js"></script>
    <script src="plugins/misc/countTo/jquery.countTo.js"></script>-->
    <script src="@Url.Content("~/Content/themes/admin/js/jquery.dynamic.js")"></script>
    <script src="@Url.Content("~/Content/themes/admin/js/main.js")"></script>
    <script src="@Url.Content("~/Content/themes/admin/js/pages/dashboard.js")"></script>
</body>
</html>
<script type="text/javascript">

    function myFunc() {
        $.ajax({
            type: "POST",
            url: "/Account/LogOff/",
            data: {
                __RequestVerificationToken: gettoken()
            },
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=utf-8',
            success: function () {
                // alert("Value Added");  // or any other indication if you want to show
            }

        });
    }
</script>
<script type="text/javascript">
    function gettoken() {
        var token = '@Html.AntiForgeryToken()';
        token = $(token).val();
        return token;
   }
</script>